RewriteEngine On

# Dashboard-Pfad ausschließen
RewriteCond %{REQUEST_URI} ^/dashboard_old/ [NC]
RewriteRule ^ - [L]

# Dashboard-Pfad ausschließen
RewriteCond %{REQUEST_URI} ^/dashboard_v2/ [NC]
RewriteRule ^ - [L]

# Dashboard-Pfad ausschließen
RewriteCond %{REQUEST_URI} ^/dashboard/ [NC]
RewriteRule ^ - [L]

# API-Pfad ausschließen
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^ - [L]

# Exclude /cache/images/
RewriteCond %{REQUEST_URI} ^/cache/images/ [NC]
RewriteRule ^ - [L]

# Normales Rewrite nur für "nicht existierende" Dateien
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
