html, body {
  height: 100%; /* Wichtig für 100% Höhe */
}

.wrapper {
  display: flex;
  flex-direction: column; /* Vertikale Anordnung */
  height: 100%; /* Gesamte Höhe des Viewports */
}

main {
  display: flex;
  flex-grow: 1; /* Füllt den restlichen Platz vertikal */
}

.logoff{
  color:red;
}