RewriteEngine On
RewriteBase /

# Falls die angeforderte Datei oder der Ordner nicht existiert, leite an index.php weiter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]